@media screen and (max-width:1200px){

/* navBar */

.logo img {
    height: 40px;
  }

  .list li a {
    font-size: 15px;
  }
  .list button {
    padding: 0px 30px;
  font-size: 15px;
  }


/* Intro section 1*/

.intro-content h1 {
    font-size: 40px;
    width: 100%;
}

.intro-content p {
    font-size: 15px;
}

.left-intro-section button{
    padding: 5px 20px;
    font-size: 20px;
}

.right-intro-section img {

    height: 300px;
}




/* Service Section */

.service-head h1 {
    font-size: 40px;
}

.service-head p {
    font-size: 18px;
}

.service-card {
    width: 270px;  
    
}

.service-card img {
    height: 30px;
   
}

.service-card:nth-child(4) img{
    height: 50px;
}

.service-card h4 {
    font-size: 20px;
}

.service-card p {
    font-size: 15px;
    
}
/* pricing section */

.pricing-section h1 {
    font-size: 40px;
}

.price-cards {
    padding: 5px 10px;
   width: 1000px;
    gap: 10px;
}

.price-card {
    height: 510px;
    width: 350px;
}

.price-head-part h4 {
    font-size: 25px;
}

.price-head-part p {
    font-size: 15px;
}

.bottom-price-part h1  {
    font-size: 30px;
}

.bottom-price-part span {
    font-size: 15px;
    margin-top: -20px;
}

.bottom-price-part button{

    font-size:15px;
    margin-top: -1px;

}
/* customer section  */

.review-header-part h1 {
    font-size: 40px;
}

.review-header-part p  {
    font-size: 18px;
}

.review-card {
    width: 400px;
    gap: 30px;

}

.review-text  {
    font-size: 18px;
}

.user img {
    width: 80px;
}

.user div h4 {
    font-size: 18px;
}

/* Register Now Section */

.register-left h1 {
    font-size: 40px;
}

.register-left p  {
    margin-top: 20px;
    font-size: 15px;
    width: 410px;
}

.register-right button {
    padding: 10px 20px;
    font-size: 20px;
}
/* Footer Section */

.footer-logo img {
    height: 30px;
    width: 80px ;
}

.footer-logo p  {
    width: 300px;
    font-size: 20px;
}

.footer-parts h4 {
    font-size: 20px;
   
}

.footer-parts li {
    font-size: 18px;
}

.social-media h4 {
    font-size: 20px;
}

.social-media div img{
    height: 25px;
}

} 